<div class="card-popup" *ngIf="show">
  <!-- 오버레이 -->
  <div class="popup-overlay" (click)="onClose()"></div>

  <!-- 카드 본문 -->
  <div class="popup-content">
    <!-- 닫기 버튼 -->
    <button class="close-btn" (click)="onClose()">✖</button>

    <!-- 헤더 -->
    <div class="popup-header">
      <img
        class="header-image"
        [src]="item?.photo"
        alt="Photo"
      />

      <div class="header-info">
        <h2 class="title">{{ item?.name }}</h2>

        <div class="meta">
          <span>{{ item?.year }}.{{ item?.month }} ~</span>
        </div>

        <div class="meta">
          <span>{{ item?.time }} 소요</span>
        </div>

        <!-- 장르 -->
        <div class="chip-group" *ngIf="item?.subTypes?.length">
          <span
            class="chip genre"
            *ngFor="let gen of item?.subTypes"
          >
            {{ gen }}
          </span>
        </div>

        <!-- 태그 -->
        <div class="chip-group" *ngIf="item?.tags?.length">
          <span
            class="chip tag"
            *ngFor="let tag of item?.tags"
          >
            #{{ tag }}
          </span>
        </div>
          <!-- 아이콘 -->
  @if (item?.icons?.length) {
    <div class="icon-container">
      @for (icon of item?.icons; track icon.type) {
        @if (icon.url) {
          <div class="icon-wrapper" (click)="$event.stopPropagation()">
  <a
    class="icon"
    [ngClass]="icon.type"
    [attr.data-tooltip]="icon.tooltip"
    [href]="icon.url"
    target="_blank"
    rel="noopener"
  ></a>

  <a
    class="icon-click"
    [href]="icon.url"
    target="_blank"
    rel="noopener"
  >
    Click
  </a>
</div>
        }
        @else {
          <div
            class="icon"
            [ngClass]="[icon.type, icon.active ? 'active' : 'inactive']"
            [attr.data-tooltip]="icon.tooltip"
          ></div>
        }
      }
    </div>
  }
  

    @if (item?.comment) {
      <div class="comment-quote">
        ‘{{ item?.comment }}’
      </div>
    }
      </div>
    </div>

    <!-- Notion HTML -->
    <div class="notion-content" [innerHTML]="htmlContent"></div>
  </div>
</div>
